img {
    height: 150px;
    width: 250px;
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(49, 194, 204, 0.322);
}

img:hover {
    box-shadow: 0 12px 24px 0 rgba(49, 194, 204, 1);
    cursor: pointer;
}

main {
    display: flex;
    justify-content: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
